<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">

<title>Vos produits</title>
</head>
<body>
	<div layout:fragment="contents">
		<div class="row mt-2 ml-1 mr-1">
			<div class="col-2"></div>
			<div class="col-8">
				<div class="card  border-info">
					<div class="card-header badge badge-info text-wrap">
						<h6>Liste des commande</h6>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-6">
								<form th:action="@{/user/commandeBetweenDates}" method="post">
									<div class="input-group">
										
										<label for="startDate">From :</label>
										<input type="date"  name="startDate" class="form-control" />
										<label for="endDate">To :</label>
										<input type="date" name="endDate" class="form-control" />
										<div class="input-group-append">
											<button class="btn btn-secondary" type="submit">Ok</button>
										</div>
									</div>
									
								</form>
							
							</div>
							<div class="col-6">
								<div class="text-right">
									<a class="btn btn-sm btn-success center"
										th:href="@{/admin/ajouterCommande}"> <i
										class="fas fa-plus-circle"></i> Ajouter commande
									</a> 
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-3">
							<form th:action="@{/user/sorte}" method="post">
							<div class="input-group">
								<select name="sorte">
    								<option th:value="dateCommande" th:text="Date"></option>
    								<option th:value="totalPrix" th:text="Total"></option>
								</select>
								<div class="input-group-append">
											<button class="btn btn-secondary" type="submit">Ok</button>
										</div>
							</div>
								</form>
							</div>
							<div class="col-3">
							<form th:action="@{/user/filtreEtat}" method="post">
							<div class="input-group">
									<select name="etats">
	    								<option th:value="enCours" th:text="enCours"></option>
	    								<option th:value="livrée" th:text="livrée"></option>
									</select>
									<div class="input-group-append">
										<button class="btn btn-secondary" type="submit">Ok</button>
									</div>
							</div>
								</form>
							</div>
							<div class="col-6">
							</div>
							</div>
							
								
						
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-striped  table-borderless">
								<tr>
									<th>numCommande</th>
									<th>adrLivraison</th>
									<th>dateCommande</th>
									<th>Nom Client</th>
									<th>Total</th>
									<th></th>
									<th></th>
								</tr>
								
		
								
								<tr th:each="c:${listeCommandes}">
									<td width="2%" >
									<a class="btn btn-sm btn-primary"
										th:href="@{/admin/detailCommande(id=${c.numCommande})}">
									<i th:text="${c.numCommande}"></i>
									</a>
									</td>
									<td width="20%" th:text="${c.adresseLivraison}"></td>
									<td th:text="${c.dateCommande}"></td>
									<td th:text="${c.client.nomClient}"></td>
									<td th:text="${c.getTotalCommande}"></td>
									<td width="5%">
									<a class="btn btn-sm btn-primary"
										th:href="@{/admin/modifierCommande(id=${c.numCommande})}">
											<i class="fas fa-edit"></i>
									</a></td>
									<td width="5%"><a class="btn btn-sm btn-danger"
										onclick="return confirm('Etes-vous sûr de vouloir supprimer cette commande?');"
										th:href="@{/admin/supprimerCommande(id=${c.numCommande}, activePage=${activePage}, nbElements = ${nbElements}, size = ${size})}">
											<i class="fas fa-trash-alt"></i>
									</a></td>
									
								</tr>
							</table>
						</div>
						<nav aria-label="Page navigation">
							<ul class="pagination">
								<li
									th:class="${pg==activePage} ? 'page-item active':'page-item'"
									th:each="pg:${taillePagination}"><a class="page-link"
									th:href="@{/user/commandes(page=${pg}, size=${size})}"
									th:text="${pg+1}"> </a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="col-2"></div>
	</div>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
</body>
</html>